const KPI_LOGIN_URL = "{{ kpi_frontend_login_url }}";

export function getAuthUrl(url) {
  return KPI_LOGIN_URL + "?return_url=" + url;
}

export function getZebraLoginUrl() {
  return KPI_LOGIN_URL;
}

const SENTY_DSN = "{{ kpi_raven_js_dsn }}";

export const WEB_PAGE_TITLE = "{{ web_page_title }}";
