/**
 * Modified configuration file; Meant to be modified on the deployment
 */

export const ZEBRA_URL = "{{ kpi_frontend_login_url }}";
export const TITLE = "{{ web_page_title }}";
export const HIDE_LIBRARY_TOGGLE = "{{ kpi_disable_library_toggle }}";
